/* layout.css Style */
.sliders {
  border-width: 2px;
  margin-bottom: 20px;
}
.upload-drop-zone {
    height: 200px;
    border-width: 2px;
    margin-bottom: 20px;
  }
  
  /* skin.css Style*/
  .upload-drop-zone {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    padding-top: 80px;
  }
  .upload-drop-zone.drop {
    color: #222;
    border-color: #222;
  }

  #ex1Slider .slider-selection {
    background: #BABABA;
  }
  input[type="button"], input[type="submit"] { 
    color:black; 
} 
  input[type="text"] { color: black } 
  input[type="password"] {color: black}

  .progress.active .progress-bar {
      -webkit-transition: none !important;
      transition: none !important;
      margin-top:10px;
  }

  .popover-content {
    color: black;
}

#help-btn {
  background: white;
  color: black
}

#video-progress {
  margin-top:10px;
}
#up-progress {
  margin-top:30px;
  visibility: hidden;
  color: black;
}

.download_btn{

  display: inline-block;
  vertical-align: middle;
  margin-top:10px;

}

.video-report{
  text-align: center;
  margin-top:20px;
}
.badge{
  text-shadow: none;
  vertical-align: middle 
}
