<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Video Processing Tool</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}"            rel="stylesheet" media="all" >
    <link href="{{ url_for('static', filename='css/cover.css') }}"            rel="stylesheet" media="all" >
    <link href="{{ url_for('static', filename='css/bootstrap-slider.css') }}"            rel="stylesheet" media="all" >
    <link href="{{ url_for('static', filename='css/video_processor.css') }}"            rel="stylesheet" media="all" >
    <link href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}" rel="stylesheet" media="all" >
    <script type='text/javascript' src="{{ url_for('static', filename='js/modernizr.js') }}"></script>
    <script type='text/javascript' src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type='text/javascript' src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script type='text/javascript' src="{{ url_for('static', filename='js/bootstrap-slider.js') }}"></script>
    <script type='text/javascript' src="{{ url_for('static', filename='js/highlight.min.js') }}"></script>
    <script type='text/javascript' src="{{ url_for('static', filename='js/video_processor.js') }}"></script>

  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Muse.ai</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="{{ url_for('routes.logout') }}">Logout</a></li>
                  <li>
                      <button id="help-btn" type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-html="true" data-placement="bottom" data-content="<p>Drag a video to the drop box to start the process.</p> <p> On the processing page, the silence length slider determines how many seconds of silence are required to consider a segment as silent. </p> <p>The noise threshold slider controls how sensitive to noise the tool is to consider a segment as silent. (in % of energy of waveform)</p> Pressing analyse will show how the settings will affect the output, pressing process will begin video conversion.">
                        Help
                      </button></li>
                </ul>
              </nav>
            </div>
          </div>
          {% block content %}{% endblock %}
          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
              <p>Video processing tool developed by José Pedro Côrte-Real - 2018</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>hljs.initHighlightingOnLoad();</script>
    <script type='text/javascript'>
    	$(document).ready(function() {
    		/* Example 1 */
	    	$('#slider-time').slider({
	          	formatter: function(value) {
	            	return 'Current value: ' + value;
	          	}
            });
            $('#slider-noise').slider({
	          	formatter: function(value) {
	            	return 'Current value: ' + value;
	          	}
          });
          
          function getSavedValue  (v){
                        console.log("looking for "+v+" in local storage ...");
                        if (localStorage.getItem(v) === null) {
                            console.log("ain't nothing but a thing...");
                            return "";// You can change this to your defualt value. 
                        }0
                        console.log("retrieved: "+localStorage.getItem(v));
                        return Number(localStorage.getItem(v));
                    }
                    $('#slider-time').slider('setValue', getSavedValue("slider-time"));
                    $('#slider-noise').slider('setValue', getSavedValue("slider-noise"));
                        
		});
    </script>

    <script type="text/javascript">
        var csrf_token = "{{ csrf_token() }}";
    
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                }
            }
        });
    </script>
    <script>
        $(function () {
        $('[data-toggle="popover"]').popover()
      })

    </script>
  </body>
</html>
