{% extends "base_layout.html" %}
{% block content %}
          <div class="inner cover">
            <h1 class="cover-heading">Video Silence Remover Tool</h1>
            <p class="lead"> No more awkward silences!               </p>

            {% if uploads|length == 0 %}          
          <!-- Drop Zone -->
          <div class="col-xs-12">
            <div class="upload-drop-zone" id="drop-zone">
                <div id="upload-message"> drag video to begin <br> supported formats: avi, mp4, h264, mov</div>
            </div>

            <div class="progress" id="up-progress">
                    <div class="progress-bar " role="progressbar"  aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
            </div>

        </div>
        {% endif %}


          <!-- Upload Finished -->
          <div class="js-upload-finished">
            <div class="list-group">
              {% if uploads|length > 0 and not (current_user.get_task_in_progress('process_video')  or current_user.get_task_in_progress('analyse_video'))%}
              
                <div class="sliders">
                        <div class="row">
                            <div class="col-xs-6">
                                silence length   <input id="slider-time" data-slider-id='timeSlider'  type="text" data-slider-min="0.1" data-slider-max="10" data-slider-step="0.1" data-slider-value="1"/>
                            </div>
                            <div class="col-xs-6"></div>
                                noise threshold   <input id="slider-noise" data-slider-id='noiseSlider'  type="text" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="50"/>    
                            </div>
                    </div>
                <script>
                        
                </script>
                {% if not current_user.get_task_in_progress('process_video') %}
                {% for upload in uploads %}
                <div class="row">
                    <div class="col-xs-2">
                      <a href="{{ url_for('routes.cancel_upload',upload_id = upload.id ) }}" class="process_btn btn btn-danger">cancel</a>  
                    </div>
                    <div class="col-xs-5">
                            <a href="#" class="process_btn btn btn-primary btn-block analyse-btn"><strong>{{ "analyse video " }}</strong></a>
                        </div>
                    <div class="col-xs-5">
                      <a href="{{ url_for('routes.process_video') }}" class="process_btn btn btn-warning btn-block"><strong>{{ "Start processing " }}</strong></a>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
                    
                
                {% if analysed_videos|length > 0 and not current_user.get_task_in_progress('analyse_video') %}
                    <div class="col-xs-12">
                            <figure>
                        <img src="{{ waveform_image }}" class="img-fluid" alt="Waveform Image" style="width:100%; height:auto; margin-top:15px;margin-bottom:15px;">
                    </figure>
                    </div>
                {% for upload in analysed_videos %}
                <div class="video-report">
                    <p><strong>{{ upload.get_data().cut_times|length }} segments with sound were detected:</strong></p>
                    {% if upload.get_data().cut_times|length > 5 %}
                    <p><em>showing only first 5 segments</em></p>
                    {% endif %}
                    {% for cuts in upload.get_data().cut_times[:6] %}
                    <p>from {{ cuts[0] }} seconds to {{ cuts[1] }} seconds</p>
                    {% endfor %}
                    {% if upload.get_data().cut_times|length > 5 %}
                    <p>...</p>
                    {% endif %}

                    <p><strong>Original video has {{ upload.get_data().total_time }} seconds duration</strong></p>
                    <p><strong>Processed video will have {{ upload.get_data().new_time }} seconds duration</strong></p>
                </div>
                {% endfor %}
                {% endif %}
                <div>
                        <div id="analyse-message"> </div>
                </div>

            </div>
            {% endif %}
            <div class="list-group">
              {% if current_user.is_authenticated %}
              {% with tasks = current_user.get_tasks_in_progress() %}
              {% if tasks %}
                  {% for task in tasks %}
                 <div id="status-message">preparing to start ...</div>
                 <div class="progress" id="video-progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated active" id="{{ task.id }}-progress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                  </div>

                  {% if  current_user.get_task_in_progress('process_video')  %}
                  <div class="row">
                  <div class="col-xs-5"></div>
                  <div class="col-xs-2 align-self-center">
                    <a href="{{ url_for('routes.cancel_job',job_name=task.name) }}" class="cancel_job_btn btn btn-danger">cancel job</a>  
                </div>
                <div class="col-xs-5"></div>
                </div>
                {% endif %}

                  {% endfor %}
              {% endif %}
              {% endwith %}
              {% endif %}
          </div>

            </p>
          </div>

              {% if not current_user.get_task_in_progress('process_video') and  uploads|length == 0 %}
                {% if processed_videos|length > 0 %}
                <h3>Processed videos</h3>
                    {% for pv in processed_videos %}
                    <div class="row">
                        <div class="col-xs-2">
                            <a href="{{ url_for('routes.remove_file',pv_id=pv.id) }}" class="download_btn btn btn-danger">delete</a>  
                        </div>
                        <div class="col-xs-10">
                            <a href="{{ url_for('routes.download_file',filename=pv.filename) }}" class="download_btn btn btn-success btn-block" ><strong>{{ "Download " }}</strong> {{ pv.filename }}</a>
                        </div>
                        
                    </div>
                    {% endfor %}
                {% endif %}
              {% endif %}

      </div>
        

      <!--Polling every second for progresss update. Only on if currently the user is processing something-->  
        <script>


          function set_task_progress(task_id, progress,message) {
            $('#' + task_id + '-progress').css({ "width": progress + "%" });
            $("div#status-message").replaceWith("<div id=status-message>"+message+"</div>")
            if (progress < 0){
                window.location.href = "dashboard";
            }
            if (progress >= 100) {
              window.location.href = "dashboard";
            } 
          }

           {% if  current_user.get_task_in_progress('process_video')  %}
            $(function() {
                setInterval(function() {
                    $.ajax('{{ url_for('routes.notifications') }}').done(
                        function(notifications) {
                            for (var i = 0; i < notifications.length; i++) {
                                if(notifications[i].name == 'task_progress'){
                                    console.log(notifications[i].data.progress);
                                    set_task_progress(notifications[i].data.task_id,
                                        notifications[i].data.progress,notifications[i].data.message);
                                }
                                
                            }
                        }
                    );
                }, 1000);
        });
        {% endif %}

        {% if  current_user.get_task_in_progress('analyse_video')  %}
            $(function() {
                setInterval(function() {
                    $.ajax('{{ url_for('routes.notifications') }}').done(
                        function(notifications) {
                            for (var i = 0; i < notifications.length; i++) {
                                if(notifications[i].name == 'task_analyse'){
                                    console.log(notifications[i].data.progress);
                                    set_task_progress(notifications[i].data.task_id,
                                        notifications[i].data.progress,notifications[i].data.message);
                                }
                                
                            }
                        }
                    );
                }, 1000);
        });
        {% endif %}


      </script>
{% endblock %}