<!DOCTYPE html>
<html>
  	<head>
	    {% if title %}
	    <title>{{title}} - Tracker</title>
	    {% else %}
	    <title>Tracker</title>
	    {% endif %}
	    
	    <link href="{{ url_for('static', filename='css/bootstrap.css') }}"            rel="stylesheet" media="all" >
	    <link href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}" rel="stylesheet" media="all" >
	    <link href="{{ url_for('static', filename='css/tracker.css') }}"              rel="stylesheet" media="all" >
	    <link href="{{ url_for('static', filename='css/datepicker3.css') }}"          rel="stylesheet" media="all" >
	    <link href="{{ url_for('static', filename='css/select2.css') }}"              rel="stylesheet" media="all" >
	    <link href="{{ url_for('static', filename='css/select2-bootstrap.css') }}"    rel="stylesheet" media="all" >
	
	    <script src="{{ url_for('static', filename='js/jquery-2.1.3.js') }}"></script>
	    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
	    <script src="{{ url_for('static', filename='js/bootstrap-datepicker.js') }}"></script>
	    <script src="{{ url_for('static', filename='js/select2.js') }}"></script>
	    
	    <script type="text/javascript">
						$(document).ready(function(){
							$(".datepicker").datepicker({
												format: "yyyy-mm-dd"
											});
							$('.input-daterange').datepicker({
 												format: "yyyy-mm-dd"
 											});
							$("select").select2();
						});
		</script>
	    <meta name="viewport" content="width=device-width, initial-scale=1">
  	</head>
  	
  	<body>
  		<div class="container">
  			{% block menus %}
	    	<div class="container">
	      		<h2>Tracker</h2>
	      		<div class="navbar">
	        		<div class="navbar-inner">
		          		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		            		<span class="icon-bar"></span>
		            		<span class="icon-bar"></span>
		            		<span class="icon-bar"></span>
		          		</a>
	            		<ul class="nav navbar-nav">
	              			<li><a href="{{ url_for('dashboard') }}">Add Requirement</a></li>
	            		</ul>
						<ul class="nav navbar-nav">
	              			<li><a href="{{ url_for('dashboard') }}">Requirements</a></li>
	            		</ul>
	            		<ul class="nav navbar-nav">
	              			<li><a href="{{ url_for('dashboard') }}">Issues</a></li>
	            		</ul>
	            		<ul class="nav navbar-nav">
	              			<li><a href="{{ url_for('dashboard') }}">Tests</a></li>
	            		</ul>
	            		<ul class="nav navbar-nav">
	              			<li><a href="{{ url_for('dashboard') }}">Releases</a></li>
	            		</ul>
	            		<ul class="nav navbar-nav">
                            <li><a href="{{ url_for('dashboard') }}">SW Bundles</a></li>
                        </ul>
	        		</div>
	      		</div>
      		</div>
      		{% endblock %}
  			<div class="row">
      			{% block content %}
      			{% endblock %}
    		</div>
    	</div>   
  	</body>
</html>
